h3 Quotation Conditions

p All quotations submitted to LPE are subject to the following conditions:

ol
  li: strong
    |
      Every endeavour must be taken to supply from one cast.
      If this is not possible then items must be segregated by
      cast/treatment numbers, with their own Certificate of
      Conformity. Full traceability must be maintained.

  li
    |
      The items/materials are not subject to any national or international
      trade agreement that restricts their end use.

  li
    |
      Any alternative or deviation to which LPE has agreed has been
      received in writing by the supplier and shall be stated on any
      subsequent supplier release certification.

  li
    |
      Quotations must be submitted via LPE's online
      submission site. All other quotation submissions
      will not be included in the tender process.

  li
    |
      By submission of quotation to LPE you declare that
      you have fully understood the requirements of the
      request and that all items will be supplied in
      compliance with all applicable specifications and
      requirements as detailed in the request. Failure
      to comply may result in any subsequent orders
      raised against this quotation being terminated
      with immediate effect. Any non-conforming items
      may be rejected by LPE and returned at your expense,
      including any costs incurred by LPE.

  li Carriage paid terms.

  li
    |
      Submitted price is inclusive of the
      Certificate of Conformity.

  li
    |
      Quotations&mdash;or notification of your intent
      to decline to tender&mdash;should be submitted
      to LPE as soon as possible and no later than the
      above tender expiration date.

  li
    |
      All submitted prices and delivery dates are final
      and subject to your standard Terms &amp; Conditions
      which must be provided to LPE.

